
<div class="navbar-fixed">
        
    <nav class="bg"><div class="nav-wrapper ">
        <ul class="left"><li>
            <a data-target="sn" class="sidenav-trigger show-on-large">
                
                <span class="material-icons notranslate">menu</span></a></li>
                <li><b><a href="/">TRADE SPHERE FINANCE</a></b></li></ul>

                 <!-- Google Translate Widget -->
<div id="google_translate_element" style="position: absolute; top: 10px; left: 50%; z-index: 1000;"></div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({
      pageLanguage: 'en',
      includedLanguages: 'en,pt,af,am,ar,az,be,bg,bn,bs,ca,ceb,co,cs,cy,da,de,el,eo,es,et,eu,fa,fi,fr,fy,ga,gd,gl,gu,ha,he,hi,ht,hu,hy,id,ig,is,it,iw,ja,jv,ka,kk,km,kn,ko,ku,ky,la,lb,lt,lv,mg,mi,mk,ml,mn,mr,ms,mt,my,ne,nl,no,ny,pa,pl,ps,ru,rw,sd,sh,si,sk,sl,sm,sn,so,sq,st,su,sv,sw,ta,te,tg,th,tl,tr,tt,ur,uz,vi,xh,yi,yo,zh-CN,zh-TW,zu',
      layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
      autoDisplay: false
    }, 'google_translate_element');
  }
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<style>
  #google_translate_element select {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 14px;
  }
  /* Hide Google Translate branding to keep the design clean */
  .goog-te-gadget .goog-te-combo {
    margin: 0 !important;
  }
  .goog-te-banner-frame.skiptranslate {
    display: none !important;
  }
  body {
    top: 0 !important;
  }
</style>
<!-- End Google Translate Widget -->

                <ul class="right">
                    <li class="hide-on-med-and-down pc-pl-1"><a href="/">HOME</a></li>
                    <li class="hide-on-med-and-down pc-pl-1"><a href="/faq">FAQ</a></li>
                    <li class="hide-on-med-and-down pc-pl-1"><a href="/about">ABOUT US</a></li>
                    <li class="hide-on-med-and-down pc-pl-1"><a href="/contact">CONTACT</a></li>
                    
                    <li data-target="tl" class="dropdown-trigger notranslate ">
                    <span class=""></span> </li>
                    
                    <div id="tl" class="dropdown-content" tabindex="0">
                        
                        <div class="row" tabindex="0" style="width: 250px;">
                            <ul class="col l6 s6">
      
      
      
                            </ul></div></div>
    </ul>

</div>
    
    </nav>
  
  </div>
    
    <ul class="sidenav" id="sn" style="transform: translateX(-105%);">
        <li><div class="user-view"><div class="background">
            <img src="static/ravencoinfinance/assets/images/site/logo.png" class="responsive-img" style="height: 19vh; padding-left: 2rem;"></div></div></li>
            <li class="no-padding"><ul>
                <li><a class="sidenav-close" href="/login"><span class="material-icons notranslate">person_outline</span><span style="padding-left: 10px;">Sign In</span></a></li>
                <li><a class="sidenav-close" href="/register"><span class="material-icons notranslate">person_add</span><span style="padding-left: 10px;">Sign Up</span></a></li>
                <li><a class="sidenav-close" href="/copy_trading"><span class="material-icons notranslate">content_copy</span><span style="padding-left: 10px;">Copy Trading</span></a></li>
                <li><a class="sidenav-close" href="/crypto_trading"><span class="material-icons notranslate">copyright</span><span style="padding-left: 10px;">Crypto Trading</span></a></li>
                <li><a class="sidenav-close" href="/crypto_mining"><span class="material-icons notranslate">dns</span><span style="padding-left: 10px;">Crypto Mining</span></a></li>
                <li><a class="sidenav-close" href="/forex_trading"><span class="material-icons notranslate">wysiwyg</span><span style="padding-left: 10px;">Forex Trading</span></a></li>
                <li><a class="sidenav-close" href="/stocks_trading"><span class="material-icons notranslate">insert_chart_outlined</span><span style="padding-left: 10px;">Stocks Trading</span></a></li>
                <li><a class="sidenav-close" href="/options_trading"><span class="material-icons notranslate">donut_large</span><span style="padding-left: 10px;">Options Trading</span></a></li>
                <li><a class="sidenav-close" href="/what_is_leverage"><span class="material-icons notranslate">people</span><span style="padding-left: 10px;">What is Leverage</span></a></li>
                <li><a class="sidenav-close" href="/responsible_trading"><span class="material-icons notranslate">people</span><span style="padding-left: 10px;">Responsible Trading</span></a></li>
                <li><a class="sidenav-close" href="/general_risk_disclosure"><span class="material-icons notranslate">folder_open</span><span style="padding-left: 10px;">General Risk Disclosure</span></a></li>
                <li><a class="sidenav-close" href="/about"><span class="material-icons notranslate">people</span><span style="padding-left: 10px;">About Us</span></a></li>
                <li><a class="sidenav-close" href="/cookie_policy"><span class="material-icons notranslate">lock_open</span><span style="padding-left: 10px;">Cookie Policy</span></a></li>
                <li><a class="sidenav-close" href="/privacy_policy"><span class="material-icons notranslate">lock_open</span><span style="padding-left: 10px;">Privacy Policy</span></a></li>
                <li><a class="sidenav-close" href="/terms"><span class="material-icons notranslate">folder_open</span><span style="padding-left: 10px;">Terms of Service</span></a></li>
                <li><a class="sidenav-close" href="/bitcoin_mining"><span class="material-icons notranslate">copyright</span><span style="padding-left: 10px;">Bitcoin Mining</span></a></li>
                <li><a class="sidenav-close" href="/dogecoin_mining"><span class="material-icons notranslate">copyright</span><span style="padding-left: 10px;">Dogecoin Mining</span></a></li>
                <li><a class="sidenav-close" href="/"><span class="material-icons notranslate">home</span><span style="padding-left: 10px;">Home Page</span></a></li>
                <li><a class="sidenav-close" href="/contact"><span class="material-icons notranslate">mail_outline</span><span style="padding-left: 10px;">Contact Us</span></a></li>
            </ul>
        </li>
</ul>
