<%- include('../partials/_header') %>
<%- include('../partials/_sidebar') %>

<section class="fade-appear-done fade-enter-done"><section class="container app-py-3"><div class="card-panel"><h1 class="center">Cookie Policy</h1><br><div class="container"><div>TradeSphereFinance
 uses cookies to: Optimize your trading experience, including 
remembering your preferences, location, preferred language, browser and 
other details;</div><br><div>Authenticate your identity for security purposes;</div><br><div>Maintain our website and certain functions available on it;</div><br><div>Analyze and track the use of our services;</div><br><div>Adjust our platform according to your trading habits and our regulatory requirements.</div><br><br><br><div>WHAT ARE COOKIES</div><br><div>Cookies
 are tiny pieces of data that are sent to your computer by a website and
 stored on your computer. Cookies are non-executable and cannot be used 
to install malware. They allow websites to recognize visitors when they 
return and include basic information about them that is checked and 
updated every time you visit the website. For more information see: 
http://www.allaboutcookies.org/.</div><br><br><br><div>MANAGING COOKIES</div><br><div>At
 TradeSphereFinance, we respect your right to privacy and are therefore 
happy to provide you with tools to manage the cookies you receive from 
our web services. Some cookies are essential to the performance of our 
platform (you cannot opt out from these cookies if you wish to use our 
platform). Below you will find a list of some of the third party cookies
 used by TradeSphereFinance.  For those users who would prefer not to 
receive non-essential cookies, we have provided an “opt out” option for 
you to select.</div><br><div>Your browser may also allow you to block 
the storage of cookies on your computer; please refer to your browser’s 
“Help” menu or website for more information. If you use our web services
 without blocking cookies you are actually consenting to the cookies.</div></div></div></section></section>
 
 

        <!--include footer navbar snipet-->
        




<section class="bg">
    <div class="container row app-mobile-center">
    <div class="col l4 s12"><br>
        <img src="../static/ravencoinfinance/assets/images/pwa/android-chrome-72x72.png"><br>
        <span class="material-icons notranslate">mail</span> support@tradespherefinance.com<br>
        
        <span class="material-icons notranslate">copyright</span> 2025 TRADE SPHERE FINANCE. All Rights
        Reserved</div>
        <div class="col l2 s12 offset-l2 "><br><br><h6>Explore</h6><a href="../faq/index.html">FAQ</a><br>
            <a href="../about/index.html">About</a><br>
            <a href="../contact.html">Contact</a><br><br><br></div>
            <div class="col l2 s12"><br><br><h6>Services</h6>
                <a href="../copy_trading/index.html">Copy Trading</a><br>
                <a href="../forex_trading/index.html">Forex Trading</a><br>
                <a href="../crypto_trading/index.html">Crypto Trading</a><br><br><br></div>
                <div class="col l2 s12"><br><br><h6>Resource</h6>
                    <a href="index.html">Cookie Policy</a><br>
                    <a href="../privacy_policy/index.html">Privacy Policy</a><br>
                    <a href="../terms/index.html">Terms Of Service</a><br><br></div></div>
                </section>
      
        
   </div>

   <!--include footer script-->




   <%- include('../partials/_footer') %>