<%- include('partials/dashboardHeader')%>

    
            <main class="app-py-1" style="height: 100vh;">
              <div class="fade-appear-done fade-enter-done">

                <section class="center"><br><b><h2>BUY CRYPTO</h2></b><br><br>
                  <div class="row">
                    buy bitcoin, ethereum, and other crypto currencies for account funding from third parties


                    <div class="col l4 s12 offset-l4">
                      <ul class="collection">
                      
                        <a href="https://bitso.com/">
                          <li class="collection-item app-py-2 app-px-2"><b>Bitso</b></li></a>
                         

                        
                          <a href="http://paxful.com/">
                            <li class="collection-item app-py-2 app-px-2"><b>Paxful</b></li></a>
                            
                            <a href="https://coinbase.com/">
                              <li class="collection-item app-py-2 app-px-2"><b>Coinbase</b></li></a>
                              

                            <a class="modal-trigger" href="https://moonpay.com/">
                              <li class="collection-item app-py-2 app-px-2 "><b>Moon Pay</b></li></a>
                              <a class="modal-trigger" href="https://bitcoin.co.uk/">
                                <li class="collection-item app-py-2 app-px-2"><b>Bitcoin.UK</b></li>
                              </a>
                            
                            </ul></div></div>
                          
                      

                
                
                          </section></div></main>
    
                       

</div>

<%- include('partials/dashboardFooter')%>