<%- include('partials/dashboardHeader')%>
      
      




<main class="container" style="height: 100vh;">
  <div class="fade-appear-done fade-enter-done"><br>
   
    <div class="container">
      <ul class="collection">
        <li class="collection-item app-py-2">
          <table class="responsive-table striped ">
            <thead>
              <tr>
                
                <th>Description</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Deposited To</th>
                  <th>Status</th>
                      
              </tr>
            </thead>
            <tbody>

              <tr>
                

                                  </tr><tr>
                <td colspan="6"><center>No Record found!</center></td>
              </tr>
              
            </tbody>
          </table>
       
        </li>
          </ul>
          </div>
          </div>
          
          </main></div>


          <%- include('partials/dashboardFooter')%>