<%- include('partials/header') %>
<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-danger">Error</h1>
      <p><%= message %></p>
      <a href="/adminRoute" class="btn btn-primary">Back to Dashboard</a>
    </div>
  </div>
</div>
<%- include('partials/footer') %>