




<!DOCTYPE html>
<html style="--hover:#dce2e4; --nav-primary-font-colour:black; --nav-secondary-font-colour:white; --background-colour:#E7F3FD; --background-font-colour:#4a4a4a; --background-heading-colour:#000000; --primary-background:#ffffff; --primary-font-colour:#000000; --primary-border-colour:#dbdcdf; --primary-link-colour:#000000; --secondary-background:#0B48B6; --secondary-font-colour:#AED5FB; --secondary-heading-colour:#ffffff; --border-colour:#f2f2f2; height: 100%;" lang="en">
<!-- Mirrored from tradespherefinance.com/faq/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Apr 2025 14:06:06 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>Faq Page</title>

    <!--Include Header snippet-->
    





<meta name="mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, user-scalable=no">

<meta property="og:description" content="Forex, Stocks, ETFs &amp; Options | TradeSphereFinance - Online Trading Platform">
<meta property="”og:image”" content="”/static/ravencoinfinance/assets/images/site/logo.png”">
<meta property="”og:title”" content="TRADE SPHERE FINANCE">

<link rel="manifest" href="../static/ravencoinfinance/assets/images/pwa/manifest.json">
<link rel="shortcut icon" href="../static/ravencoinfinance/assets/images/pwa/favicon.ico">

<link rel="preconnect" href="https://fonts.googleapis.com/">
<link rel="stylesheet" href="../static/ravencoinfinance/assets/css/site/reactapp-modules.css">
<link rel="stylesheet" href="../static/ravencoinfinance/assets/css/libs/flag-icon-css/css/flag-icon.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
<link rel="icon" type="image/png" sizes="16x16" href="../static/ravencoinfinance/assets/images/pwa/favicon-16x16.png">
<link rel="icon" type="image/png" sizes="32x32" href="../static/ravencoinfinance/assets/images/pwa/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="48x48" href="../static/ravencoinfinance/assets/images/pwa/favicon-48x48.png">

<link rel="apple-touch-icon" sizes="57x57" href="../static/ravencoinfinance/assets/images/pwa/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="../static/ravencoinfinance/assets/images/pwa/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="../static/ravencoinfinance/assets/images/pwa/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="../static/ravencoinfinance/assets/images/pwa/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="../static/ravencoinfinance/assets/images/pwa/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="../static/ravencoinfinance/assets/images/pwa/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="../static/ravencoinfinance/assets/images/pwa/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="../static/ravencoinfinance/assets/images/pwa/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="167x167" href="../static/ravencoinfinance/assets/images/pwa/apple-touch-icon-167x167.png">
<link rel="apple-touch-icon" sizes="180x180" href="../static/ravencoinfinance/assets/images/pwa/apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="1024x1024" href="../static/ravencoinfinance/assets/images/pwa/apple-touch-icon-1024x1024.png">
<link rel="stylesheet" href="../../cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link href="../static/ravencoinfinance/assets/global-cfd-market.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" charset="UTF-8" href="https://www.gstatic.com/_/translate_http/_/ss/k=translate_http.tr.69JJaQ5G5xA.L.W.O/d=0/rs=AN8SPfpC36MIoWPngdVwZ4RUzeJYZaC7rg/m=el_main_css">
<script type="text/javascript" charset="UTF-8" src="https://translate.googleapis.com/_/translate_http/_/js/k=translate_http.tr.en_GB.c_zC7qUnTFY.O/d=1/exm=el_conf/ed=1/rs=AN8SPfoBlmfmYftMKBfrazMTdGZqwlOJOw/m=el_main"></script>
</head>
<script src="../../ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>



  <body style="position: relative; min-height: 100%; top: 0px;">
      <noscript> You need to enable JavaScript to run this app. </noscript>

      <div id="root">
      
        <!--include navbar snipet-->








 
        <%- include('../partials/_sidebar') %>

    <section class="fade-appear-done fade-enter-done"><section class="bg  app-pt-3"><div class="wow fadeInUp slow" style="visibility: visible;"><h2 class="center-align">FAQS</h2></div><div class="container app-py-3"><div class="row"><div class="col l6 s12"><div class="app-padding wow fadeInUp slow" style="visibility: visible;"><ul class="collapsible"><li class=""><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>How does copy trading work?</div><div class="collapsible-body" style=""><span><p>Here
 is how the copier works: You, as an investor, simply select an expert 
or experts that you want to copy trades from. Once you are signed up, 
this is the only action needed on your part.</p><br><p>Once you’ve taken
 care of the above, you are all set. There are no codes that you need to
 run or signals for you to manually input. Our software will handle the 
trade copying automatically on your behalf. We monitor your experts 
trading activity and as soon as there is a trade, we calculate all the 
necessary parameters and execute the trade.</p><br><p>The only thing you
 have to make sure of is that you have enough available base currency 
that your expert trades with, in your trading account. How much is 
enough? First, you must meet the exchanges minimum order amount (let’s 
say about $10 per trade to be safe). That means that if your expert 
executes a 5% order, you must have at least $300 in your account total 
value (at 100% expert allocation as an example). This also means that 
you need to have at least 10% or higher in available base currency to 
avoid missed trades.</p><br><p>When the expert exits a position, you too will exit it. Automatically. You can also change allocation at any time.</p></span></div></li><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i> What are the fees?</div><div class="collapsible-body"><span>Every
 investor is to pay a 15% withdrawal fee to complete withdrawal process 
and each trader gets a set percentage of the profit they make.</span></div></li></ul></div></div><div class="col l6 s12"><div class="app-padding wow fadeInUp slow" style="visibility: visible;"><ul class="collapsible"><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>Who are the trading experts?</div><div class="collapsible-body"><span><p>We
 carefully select expert applicants. We get to know them as a trader and
 examine their trading performance over a period of time. We also tend 
to look for expert who already have a following to further confirm their
 competence (social proof). You can also read about every expert on 
their individual performance pages.</p><br></span></div></li><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>What is the recommended amount to start with?</div><div class="collapsible-body"><span><p>We
 suggest to have around $3000-$5000 in your account in BTC value due to 
exchanges minimum order requirements and so that you can at least cover 
the subscription cost every month.</p></span></div></li></ul></div></div></div></div></section><section class="bg  app-pt-3"><h2 class="center">FAQs</h2><br><br><div class="row container "><div class="col l6 s12"><div class="app-padding wow fadeInUp" style="visibility: visible;"><ul class="collapsible"><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>What is a trading platform?</div><div class="collapsible-body"><span> 
It is an online platform where traders track the quotes of different 
kinds of assets and make trades using the services provided by a broker.</span></div></li><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>The Platform Doesn’t Load</div><div class="collapsible-body"><span> 
      Try opening it in some other browser. We recommend using the latest Google Chrome.

      The system will not let you log in to the trading platform if your location is blacklisted.

      Perhaps, there is an unexpected technical problem. Our support consultants will help you solve it.
      </span></div></li><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>When Will Deposits Be Credited</div><div class="collapsible-body"><span> 
      The funds are usually credited to trading accounts fast, but 
sometimes it can take from 2 to 5 business days (depending on your 
payment provider.)

      If the money has not been credited to your account right after you
 make a deposit, please wait for 1 hour. If after 1 hour there is still 
no money, please wait and check again.
      </span></div></li><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>Do I Need to Install Any Trading Software?</div><div class="collapsible-body"><span> 
You can trade on our online platform in the web version right after you 
create an account. There is no need to install new software.</span></div></li><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>What Should I Do If a System Error Occurs?</div><div class="collapsible-body"><span> 
When system errors occurs, we recommend clearing your cache and cookies.
 You should also make sure you are using the latest version of the web 
browser. If you take these actions but the error still occurs, contact 
our support team.</span></div></li></ul></div></div><div class="col l6 s12"><div class="app-padding wow fadeInUp" style="visibility: visible;"><ul class="collapsible"><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>What are bonuses?</div><div class="collapsible-body"><span> 
      Bonus is the money the company provides to a client for trading. 
Traders don't lose their own funds when they lose a bonus. On the other 
hand, in case of success, they pocket the profit gained from using bonus
 funds.
      </span></div></li><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>Trading and Quote Sessions</div><div class="collapsible-body"><span> 
      A quote session is a period when the platform receives and 
transmits quotes. However, one can make trades within a slightly shorter
 trading session, which is part of a quote session.

      As a rule, a quote session starts 5-10 minutes earlier and ends 
5-10 minutes later than the trading session. This is meant to protect 
traders from the risk of high volatility at the beginning and the end of
 the quote session.
      
      For example, a quote session for Apple shares starts at 13:30 GMT 
(US Summer Time) and ends at 20:00. A trading session for Apple shares 
starts with a five-minute delay, i.e. at 13:35. And it ends at 19:55, 
which is 5 minutes before the quote session ends.
      </span></div></li><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>Why Doesn’t a Trade Open Instantly?</div><div class="collapsible-body"><span> 
It takes a few seconds to get data from the servers of our liquidity 
providers. As a rule, the process of opening a new trade takes up to 4 
seconds.</span></div></li><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>How Can I View the History of My Trades?</div><div class="collapsible-body"><span> 
All information about your recent trades is available in the “Trades” 
section. You can access the history of all your trades through the 
section with the same name as your user account.</span></div></li><li><div class="collapsible-header" tabindex="0"><i class="material-icons notranslate">arrow_drop_down</i>What Is the Most Active Time of Day for Trading?</div><div class="collapsible-body"><span> 
      Trading activity depends on the working hours of major exchanges 
and increases at the time of important news releases. The most active 
trading sessions are European and North American ones. The European 
session begins at around 6:00 UTC and closes at 15:00 UTC. The North 
American trading session spans from 13:00 UTC until 22:00 UTC.

      Please note that some currency pairs and assets are available for 
trading for a limited period of time. The trading hours for each asset 
are specified in the “Trading Conditions” tab of the “Asset” menu.
      </span></div></li></ul></div></div></div></section></section>
      
      <!--include footer navbar snipet-->
      



      <%- include('../partials/_footer') %>