<%- include('../partials/_header') %>
<%- include('../partials/_sidebar') %>

<section class="fade-appear-done fade-enter-done"><section class="container app-py-3"><div class="card-panel"><h1 class="center">Responsible Trading</h1><br><div class="container"><div>When
 it comes to trading on TradeSphereFinance or using its social trading 
features, we encourage responsible behaviour among all our users. Our 
“responsible trading policy” calls on traders to protect themselves from
 emotional decision making that can result in unnecessary losses.</div><br><div>Novice
 traders, in particular, tend to rely more on “gut feelings,” because 
they don’t necessarily have a lot of experience in financial trading to 
make rational and informed choices.</div><br><div>To help traders avoid 
making rash online trading decisions, TradeSphereFinance, in accordance 
with local financial regulators, recommends the following:</div><br><div>Maximum leverage according to the following list:</div><div>30:1 for major currency pairs;</div><br><div>20:1 for non-major currency pairs, gold and major indices;</div><br><div>10:1 for commodities other than gold and non-major equity indices;</div><br><div>5:1 for individual equities and other reference values;</div><br><div>2:1 for cryptocurrencies;</div><br><div>Place no more than 20% of your equity on one trade</div><div>    </div><div>The
 key factors of smart investing are low leverage and portfolio 
diversity, a fact attested to by the portfolios of TradeSphereFinance’s top
 traders.</div><br><br><br><div>Here are some tips for becoming a more responsible trader:</div><br><div>
    Only invest in what you know: Don’t follow random tips or gut 
feelings. If you want to invest in a certain asset, familiarise yourself
 with its history and tendencies.</div><div>    </div><div>    Look at 
your Risk Score: Your unique Risk Score is a great way to see if you are
 a responsible trader. Keeping a Risk Score of 3 or lower on 
TradeSphereFinance is recommended.</div><div>    </div><div>    Adjust your
 portfolio: Diversify your portfolio with assets across many classes. If
 you don’t want to monitor your portfolio frequently, opt for 
lower-involvement instruments, such as CopyPortfolios™ or our 
CopyTrader™ system.</div><div>    </div><div>    Copy other responsible traders: When you copy another trader, look at their Risk Score, history, and portfolio diversity.</div><br><br><br><br><br><div>Human Psychology &amp; Emotional Trading</div><div>Traders
 of all levels can rely too heavily on their emotions while trading. 
This is a mistake as fear, greed and excitement can play a hand in 
making bad decisions. Always have a trading plan, and stick to it no 
matter what happens. When creating your trading plan, incorporate the 
tips from the section above, paying specific attention to:</div><br><div>Maximum leverage</div><div>Portfolio diversity</div><div>Risk scores and profiles of other traders</div></div></div></section></section>

   <!--include footer navbar snipet-->
   


   <%- include('../partials/_footer') %>